<div class="container" style="height: auto; display: flex;justify-content: center;align-items: center;">
 
<div style="padding-left: 400px;margin-top: 47px;">
<div *ngIf="formSubmitted">
    <h3 style="color: forestgreen;">{{userinput}}</h3>
  </div>
  <div *ngIf="!formSubmitted"> 
    <h2 style="font-family:'Times New Roman', Times, serif;font-size: x-large;color:black;">
      Following details submitted, please confirm and hit submit</h2>
    <br/> 
 
    <div class="container">
      <mat-label><h2>Full Name [Last First Middle] :</h2></mat-label>&nbsp;
      <mat-form-field appearance="fill" style="width: 400px;">
        <input matInput placeholder="" value="
        {{regForm.get('personalDetails').get('L_Name').value}} 
        {{regForm.get('personalDetails').get('F_Name').value}}
        {{regForm.get('personalDetails').get('M_Name').value}}" readonly>
      </mat-form-field>

      <mat-label><h2>Date Of Birth :</h2></mat-label>&nbsp;
      <mat-form-field appearance="fill" style="width: 400px;">
        <input matInput placeholder="" value="
        {{regForm.get('personalDetails').get('Date_Of_Birth').value | date}}" readonly>
      </mat-form-field>
      
      <mat-label><h2>Email Id :</h2></mat-label>&nbsp;
      <mat-form-field appearance="fill" style="width: 400px;">
        <input matInput placeholder="" value="
        {{regForm.get('personalDetails').get('U_Email').value}}" readonly>
      </mat-form-field>
    
      <mat-label><h2>Contact Number :</h2></mat-label>&nbsp;
      <mat-form-field appearance="fill" style="width: 400px;">
        <input matInput placeholder="" value="
        {{regForm.get('personalDetails').get('Ph_Number').value }}" readonly>
      </mat-form-field>

      <mat-label><h2>Address :</h2></mat-label>&nbsp;
      <mat-form-field appearance="fill" style="width: 400px;">
        <input matInput placeholder="" value="
        {{regForm.get('addrDetails').get('Addr_line_1').value}}
        {{regForm.get('addrDetails').get('Addr_City').value}}
        {{regForm.get('addrDetails').get('Addr_State').value}}
        {{regForm.get('addrDetails').get('Addr_Zip').value}}" readonly>
      </mat-form-field>
    
      <mat-label><h2>Created On :</h2></mat-label>&nbsp;
      <mat-form-field appearance="fill" style="width: 400px;">
        <input matInput placeholder="" value="
        {{regForm.get('addrDetails').get('U_Created_On').value}}" readonly>
      </mat-form-field>
  
      <mat-label><h2>Note :</h2></mat-label>&nbsp;
      <mat-form-field appearance="fill" style="width: 400px;">
        <input matInput placeholder="" value="
        {{regForm.get('personalDetails').get('Notes1').value}}" readonly>
      </mat-form-field>
    </div>
    <button mat-button matStepperPrevious style="color: black;width: 100px;height: 40px;"><h2>Back</h2></button>
    &nbsp;
   
    <button mat-button (click)="submit()" *ngIf="isUpdate" style="color: black;width: 100px;height: 40px;"><h2>{{ButtonText}}</h2></button>
    <button mat-button (click)="submit()" *ngIf="isSave" style="color: black;width: 100px;height: 40px;"><h2>{{ButtonText}}</h2></button>
  </div>
</div>
</div>
